
/* ---------- Background (Animated Gradient) ---------- */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(135deg, #d9bdf6, #b9cef4, #e3d9d7, #ef5e9f);
  background-size: 400% 400%;
  animation: bgShift 12s ease infinite;
}

@keyframes bgShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* ---------- Center Container ---------- */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

/* ---------- Glass Card ---------- */
.login-card {
  width: 420px;
  padding: 35px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  border-radius: 22px;

  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 12px 40px rgba(0,0,0,0.35);

  animation: fadeUp 0.8s ease-out;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(25px); }
  to   { opacity: 1; transform: translateY(0); }
}

/* ---------- Title ---------- */
.login-box h2 {
  text-align: center;
  color: #0f0e0e;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

/* ---------- Labels ---------- */
label {
  color: #141313;
  font-weight: 500;
  font-size: 14px;
}
.card {
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    padding: 30px;
    width:100%
}

/* ---------- Inputs ---------- */
.form-control {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 18px;

  border-radius: 12px;
  border: none;
  outline: none;

  background: rgba(7, 7, 7, 0.85);
  font-size: 15px;
  transition: 0.25s;
}

.form-control:focus {
  box-shadow: 0 0 8px rgba(15, 15, 15, 0.9);
  transform: scale(1.02);
}

/* ---------- Main Button ---------- */
.btn-primary {
  width: 100%;
  padding: 12px;

  background: linear-gradient(135deg, #ff512f, #dd2476);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 17px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(221,36,118,0.7);
}

/* ---------- Register Button ---------- */
.btn-info {
  width: 100%;
  padding: 12px;
  margin-top: 18px;

  background: linear-gradient(135deg, #36d1dc, #5b86e5);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 17px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s ease;
}

.btn-info:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(91,134,229,0.6);
}

/* ---------- Error Messages ---------- */
.error-message {
  color: #ff4d4d;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 500;
}

p {
  margin-top: -10px;
  font-size: 13px;
  color: #ffe0e0;
}